.header {
	background: rgb(243, 243, 243);
	display: flex;
	justify-content: center;
	flex-direction: column;

	.title {
		color: $primary-colour;
		font-size: 4rem;
		margin: 3rem 0rem 0rem 15rem;

		@include mq(768px) {
			margin: 3rem 1rem;
			font-size: 2rem;
		}
	}

	.subtitle {
		padding: 3rem 15rem;

		@include mq(768px) {
			padding: 0rem 0 3rem 1rem;
			font-size: 1rem;
		}
	}
}

.hero-img {
	.image {
		object-fit: cover;
		height: 80vh;
		width: 100%;
		position: relative;

		@include mq(768px) {
			filter: blur(8px);
		}
	}

	.text {
		position: absolute;
		top: 80%;
		left: 15%;
		color: white;
		font-size: 2rem;
		font-weight: bold;

		@include mq(768px) {
			top: 70%;
			left: 5%;
			font-size: 1rem;
		}
	}
}
