.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 1rem;

	@include mq(768px) {
		font-size: 0.7rem;
		justify-content: flex-start;
	}

	.list {
		display: flex;
		justify-content: space-between;
		list-style-type: none;

		.link {
			margin: 0 1rem;
			font-weight: bold;
			cursor: pointer;
			border-bottom: solid 2px transparent;

			&:focus,
			&:active,
			&:hover {
				color: $primary-colour;
				border-bottom: solid 2px $primary-colour;
			}
		}
	}
}
